<?php

$config['pwd'] = __DIR__;

$config['mqtt'] = array("server"=>"labbroker.example.ac.uk","port"=>1883);

$config['1w_path'] = '/sys/bus/w1/devices/';

$config['dht_path'] = "{$config['pwd']}/lib/bin/Adafruit_DHT";

$config['labbroker']['pi_name'] = 'PiTest';

$config['labbroker']['1-wire']['28-000000000001'] = array(
	"type"=>"temp",
	"topic"=>"\$fabric/labbroker/\$feeds/\$onramp/Testing/TEMPERATURE:ROOM/TEMPERATURE",
	"sensor"=>"DS18B20"
);

$config['labbroker']['1-wire']['28-000000000002'] = array(
	"type"=>"temp",
	"topic"=>"\$fabric/labbroker/\$feeds/\$onramp/Testing/TEMPERATURE:ROOM/TEMPERATURE",
	"sensor"=>"DS18B20",
	"brdata"=>array('labbrokerRPi-test', 'room_temp')
);

$config['labbroker']['DHT'][2] = array(
	"type"=>"dht",
	"topics"=> array(
		"\$fabric/labbroker/\$feeds/\$onramp/Testing/TEMPERATURE:ROOM/TEMPERATURE",
		"\$fabric/labbroker/\$feeds/\$onramp/Testing/TEMPERATURE:ROOM/TEMPERATURE"
	),
	"brdata"=>array(
		array('labbrokerRPi-test', 'room_temp'),
		array('labbrokerRPi-test', 'room_humid')
	),
	"sensor"=>"dht22"
);


$config['ddns'] =  "";


